/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Colors */
:root {
  /* Primary */
  --pink: hsl(322, 100%, 66%);

  /* Neutral */
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}

/* Core Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* Utility Classes */
.btn {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  border: 1px solid;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

.btn:hover {
  opacity: 0.9;
}

/* Top Section */
.top {
  background-image: url('images/bg-hero-mobile.svg');
  background-color: var(--veryPaleCyan);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 2.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem;
  margin-bottom: 3rem;
}

.heading img {
  width: 50%;
}

.headerButton {
  background-color: #fff;
  color: #000;
  border-color: var(--veryPaleCyan);
  box-shadow: 0 0 10px 5px #ccc;
}

.top-container {
  display: flex;
  flex-direction: column;
}

/* Top CTA Section */
.cta {
  text-align: center;
  padding: 0 2.8rem;
}

.cta h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.cta p {
  margin-bottom: 2rem;
}

.cta .ctaButton {
  background-color: var(--pink);
  color: #fff;
  font-weight: 400;
  padding: 0.8rem 0;
  width: 80%;
  margin-bottom: 4rem;
}

.mockup {
  width: 100%;
  padding: 0 2.8rem;
}

/* Bottom Section */
.bottom {
  padding: 4rem 1rem 15rem;
}

/* Cards */
.bottom .card {
  border: 1px solid var(--veryPaleCyan);
  border-radius: 1rem;
  padding: 4rem 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px 5px #ccc;
}

.bottom .card img {
  width: 100%;
  margin-bottom: 4rem;
}

.card .details h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.card .details p {
  font-size: 1rem;
  color: var(--grayishBlue);
  line-height: 1.5;
}

.cta-bottom {
  position: absolute;
  top: -8rem;
  left: 5%;
  background-color: #fff;
  color: #000;
  border: 1px solid var(--veryPaleCyan);
  border-radius: 1rem;
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: 0 0 10px 5px #ccc;
}

.cta-bottom h3 {
  margin-bottom: 1.5rem;
}

.cta-bottom button {
  background-color: var(--pink);
  color: #fff;
  padding: 1rem 2rem;
  width: 60%;
}

/* Footer */
footer {
  position: relative;
  padding: 9rem 1rem 3rem;
  background-color: var(--veryDarkCyan);
  color: #fff;
}

.footer-logo {
  filter: brightness(0) invert(1);
  margin-bottom: 1.5rem;
}

.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.footer-contact img {
  margin-right: 2rem;
  padding-top: 0.2rem;
}

.footer-contact p {
  font-size: 1rem;
}

.footer-contact.location img {
  width: 10%;
  height: 50%;
  padding-top: 0.4rem;
}

.footer-contact.email img {
  padding-top: 0.3rem;
}

.footer-links {
  margin-top: 4rem;
}

.footer-links div {
  margin-bottom: 1.5rem;
}

.footer-social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.footer-social i {
  color: #fff;
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

.footer-social .facebook {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

footer .copyright {
  font-size: 0.8rem;
  text-align: center;
}

/* Media Queries */
/* Small Devices */
@media (min-width: 576px) {
  .heading img {
    width: auto;
  }
}

/* Medium Devices */
@media (min-width: 768px) {
}

/* Large Devices */
@media (min-width: 992px) {
  .top {
    background-image: url('images/bg-hero-desktop.svg');
    padding: 0 4.5rem 3.5rem;
  }

  .top-container {
    display: flex;
    flex-direction: row;
  }

  .top-container .cta {
    width: 40%;
    padding: 6rem 0 0 0;
    text-align: left;
  }

  .cta h1 {
    font-size: 2.5rem;
  }

  .top-container .ctaButton {
    width: 55%;
    font-size: 1rem;
  }

  .top-container .mockup {
    width: 60%;
  }

  .bottom-container {
    padding: 7rem;
  }

  .bottom .card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    text-align: left;
    line-height: 1.5;
  }

  .bottom .card h3 {
    font-size: 2rem;
  }

  .bottom .card p {
    font-size: 1.1rem;
  }

  .bottom .card .details {
    padding: 0 6rem;
  }

  .bottom .card.flow {
    display: flex;
    flex-direction: row;
  }

  .cta-bottom {
    padding: 5rem 8rem;
    top: -11rem;
    left: 22%;
  }

  .cta-bottom h3 {
    font-size: 2rem;
  }

  .cta-bottom button {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'logo . . .'
      'location links links social'
      'phone links links .'
      'email . . .'
      '. . . copyright';
    padding: 15rem 5rem 3rem;
  }

  .footer-logo {
    grid-area: logo;
  }

  .footer-contact.location {
    grid-area: location;
  }

  .footer-contact.phone {
    grid-area: phone;
  }

  .footer-contact.email {
    grid-area: email;
  }

  .footer-links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-self: center;
  }

  .footer-links .col1 {
    margin-right: 7rem;
  }

  .footer-social {
    grid-area: social;
    margin: 0;
  }

  footer .copyright {
    grid-area: copyright;
  }
}
